In [0]:
b#Q1, if length l = 10, width w = 5, calculate the area of rectangle

In [0]:
area = 10*5
print(area)

In [0]:
#Q2, if r = 15cm, write an euqation to calculate the area of circle, hint: https://www.includehelp.com/python/calculate-square-of-a-given-number.aspx

In [0]:
import math
r =15
area = math.pi*r*r
print(area)

706.8583470577034

In [0]:
#Q3ï¼Œa = "helloworld.java", print the extension (format) of file a

In [0]:
a = "helloworld.java"
print(a)
print("I do not know what extension format of a file means, Tony")

helloworld.java
I do not know what extension format of a file means, Tony

In [0]:
#Q4,  color_list = ["Red","Green","White" ,"Black", "Yellow", "Blue"], how many  colors are in the list

In [0]:
color_list = ["Red","Green","White" ,"Black", "Green", "White"]
print(color_list.count("White"))
print(color_list.count("Red"))
print(color_list.count("Green"))
print(color_list.count("Black"))

color_list = ["Red","Green","White" ,"Black", "Green", "White"]
color_list= list(set(color_list))
print=color_list

print(len(color_list))

print("Ultimately we would want to remove the duplicates fist then use the length function to determine how many colors there are in the list")

TypeError: ignored

In [0]:
#Q5, variable a = 21.123213132 and b = "foreEverrrrrrr", how to produce output " FOREEVER 21" using variable a and b

In [0]:
def both_words():
  b = "foreEverrrrrrr"
  bb=b[0:8]
  print(bb.upper())
both_words()

def both_words_again():
  a = "21.123213132"
  aa=a[0:2]
  print(aa)
both_words_again()

FOREEVER
21

In [0]:
#Q6, txt = "This cookie is tasty", how to replace "tasty" with "aweful"? You need to develop 2 different methods

In [0]:
txt = "This cookie is tasty"
a = "tasty"
print(txt.replace("tasty","awful"))
txt2 = txt[:-5]
print(txt2+'awful')

This cookie is awful
This cookie is awful

In [0]:
#Q7, a = "14", b = 3, show 14 is greated than 3 using both variable a and b,(print out result is True)

In [0]:
a = 14
b = 3
print(a >b)

True

In [0]:
# Q8, create and print a list [1,3,5,7,9,2,4,6,8,10] in 3 steps

In [0]:
a = 1
b = 10
c = 2
list1 = list(range(a,b,2))
print(list1)

In [0]:

d=2
e=12
f=2
list2 = list(range(d,e,2))
print(list2)

In [0]:
print(list1+list2)

print('define list one, define list 2, then combine the list ')

NameError: ignored

In [0]:
#Q9, Split the sentence "Stay Hungry. Stay Foolish." into ["Stay","Hungry","Stay","Foolish"]

In [0]:
text = "Stay Hungry Stay Foolish" 
x = text.split(" ")
print(x)

['Stay', 'Hungry', 'Stay', 'Foolish']

In [0]:
# Q10, Josh has prepared a list of items he is going to buy this weekend,item = ["cheese","soup","flower"]
# add two more items to the list

In [0]:
items = ["cheese","soup","flower","lotion", "sanitizer"]
print(items)

['cheese', 'soup', 'flower', 'lotion', 'sanitizer']

In [0]:
#Q11, what is the output for a*3 if a = [1,2,3]

In [0]:
a = [1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [0]:
#Q12, what is the output for a*3 if a = ["1","2","3"] 
a = ["1","2","3"] 
print(a*3)

['1', '2', '3', '1', '2', '3', '1', '2', '3']

In [0]:
#Q13, how to conervert [1,2,3] into [3,6,9]
a = [1,2,3]
a[0] = 3
a[1] = 6
a[2] = 9
print(a)

[3, 6, 9]

In [0]:
#Q14, if a = range(1,10,1), find the type of a

In [0]:
a = range(1,10,1)
print(a)
list(range(1,10))

range(1, 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
#Q15, for a given list of radius r = [1,2,3,4,5,6], use for or while loop to produce a new list of circle areas

In [0]:
import math

def areas():
    r = [1,2,3,4,5,6]
    for i in r:
        area = math.pi*i*i
        print(area)
areas()

3.141592653589793
12.566370614359172
28.274333882308138
50.26548245743669
78.53981633974483
113.09733552923255

In [0]:
#Q16, Write a Python program to construct the following pattern, using a nested for loop (for loop within for loop).
##
####
######
########
##########
# hint -> try print('@'*10)

In [0]:
def loop():
    for i in range(1,10):
        for j in range(i*2):
          print("#", end="")
        print("")

loop()

##
####
######
########
##########
############
##############
################
##################