In [ ]:
# Q1. Complete the equation
def my_function():
  print("I am from " + city)
my_function() # output should be "I am from Denver"

In [18]:
def my_function(city="Denver"):
  print("I am from " + city)
my_function()

I am from Denver

In [60]:
# Q2. Print our item in list
color_vals = ["Blue","Green","Red"]
for color in color_vals:
  print(color)# this should return a color each time

Blue
Green
Red

In [25]:
color_vals = ["Blue","Green","Red"]
print(*color_vals, sep = "\n")

Blue
Green
Red

In [ ]:
# Q3,  Write a Python function to check if the result of 9/3 is an integer or float

In [106]:
i = '9/3'
f = 9/3
print(type(i))
print(type(f))

print("9/3 is a float!")

<class 'str'>
<class 'float'>
9/3 is a float!

In [ ]:
# Q4. Sort brands by countries of origin
# You have an array of cars = ["Chevolet","Jeep","Ford","Nissan","Toyota","Honda","Hyundai","Kia"]
# hint: note the order of cars in the list
# iterate over the array and create three separate arrays based on the countries of origin 
# and append an additional one to the array
# e.g., korean_cars = ["Hyundai","Kia","Renault Samsung"], american_cars = [...], japanese_cars = [...]

In [43]:
cars = ["Chevolet","Jeep","Ford","Nissan","Toyota","Honda","Hyundai","Kia"]
i = 0 # start from the first one in the list
korean_cars = ["Hyundai","Kia"]
american_cars = ["Chevolet","Jeep", "Ford",]
japanese_cars = ["Nissan", "Toyota", "Honda"]
for car in cars:
    if i <= 2:
        # append to list
    elif 2<i <=5:
        # append to list
    else:
        # append to list
    i = i+1
print(american_cars)
print(japanese_cars)
print(korean_cars)

IndentationError: expected an indented block (<ipython-input-43-39e4c581743a>, line 9)

In [54]:

american = ["Chevolet","Jeep","Ford"]
for x in american:
    print(x)
korean = ["Hyundai","Kia"]
for x in korean:
    print(x)
japanese = ["Nissan", "Toyota", "Honda"]
for x in japanese:
    print(x)

Chevolet
Jeep
Ford
Hyundai
Kia
Nissan
Toyota
Honda

In [ ]:
# Q5. Detecting speeding violations
# speed_list = [20,30,50,40,100,120,160,200],unit is kph
# convert speed from kph to mph, 1 kph = 0.621371 mph
# create a new array for speed(mph)> 50 mph using 'for' or 'while'

In [ ]:
overspeed_list = []
speed_list = [20,30,50,40,100,120,160,200]
for speed_mph in speed_list:
    speed_kph = # convert kph to mph
    if speed_kph> :# what is the threshold value? 447.38712
        overspeed_list.append() # append value to overspeed
print(overspeed_list)

In [79]:
speed_list = [20,30,50,40,100,120,160,200]
for speed in speed_list:
    speed_new = speed*0.621371
    print(speed_new)

12.42742
18.64113
31.068550000000002
24.85484
62.137100000000004
74.56452
99.41936
124.27420000000001

In [104]:
a = [12.42742, 18.64113, 31.068550000000002, 24.85484, 62.137100000000004, 74.56452, 99.41936, 124.27420000000001]
sum(a)

447.38712

In [99]:
overspeed_list = []
speed_list = [20,30,50,40,100,120,160,200]
for speed_mph in speed_list:
    speed_kph = [12.42742, 18.64113, 31.068550000000002, 24.85484, 62.137100000000004, 74.56452, 99.41936, 124.27420000000001]
    if speed_kph > 447.38712:
        overspeed_list.append(447.38712)
print(overspeed_list)

TypeError: unorderable types: list() > float()

In [16]:
# Q6. Complete the codes
a = 10
b = 200
c = 250
if b > a or b > c:
    print("b*20 is greater than a and c ")
if b < c and b < a:
    print("b is smaller than c and a")

b*20 is greater than a and c

In [ ]:
# Q7. Create your own function
# create a function that can convert Fahrenheit (°F) to Celsius (°C)
# formular link https://www.rapidtables.com/convert/temperature/how-fahrenheit-to-celsius.html
# convert Fahrenheit list [100,90,80,110,70] to a new list in celsius using 'for loop'

In [102]:
fahrenheit_list = [100,90,80,110,70]
for fahrenheit in fahrenheit_list:
    fahrenheit_TO_Celcius = ((fahrenheit-32)/1.8)
    print(fahrenheit_TO_Celcius)

37.77777777777778
32.22222222222222
26.666666666666664
43.333333333333336
21.11111111111111

In [ ]:
# Q8, Merge Strings
# Lily, Ashley, Christine, and Melody are sisters, their last name is Redfield
# Using 'for loop' to print out their full names (format "Fist_Name,Last_Name")

In [48]:
fnames = ['Lily', 'Ashley', 'Christine','Melody']
for fname in fnames:
    print(fname,"Redfield")

Lily Redfield
Ashley Redfield
Christine Redfield
Melody Redfield

In [41]:
def First_Name():
    fnames = ['Lily', 'Ashley', 'Christine','Melody']
    Last_Name("Redfield")
for name in fnames:
  print(name)

Lily
Ashley
Christine
Melody

In [ ]:
# Q9, NDVI
# Normalized Difference Vegetation Index (NDVI) uses the NIR and red channels in its formula. 
# e.g., ndvi = (nir-red)/(nir+red)
# define and call a function to calculate NDVI
# test with input nir = 0.4, red = 0.3

In [15]:
def my_function():
    nir = 0.4
    red = 0.3
    ndvi = (nir-red)/(nir+red)
    return ndvi
my_function()

0.1428571428571429

In [ ]:
# Q10, Euclidean distance (Two dimensions)
# https://en.wikipedia.org/wiki/Euclidean_distance
# write a function to calculate the euclidian disntance and find the distance between p1 (3,5) and p2 (6,14)
# hint, you can use math.sqrt(), how to import that?
# note, for square root, first import math and then use math.sqrt(value)

In [55]:
import math
def my_function():
    p1=[3,5]
    p2=[6,14]
    
    
eudistance = math.sqrt((6-3)^2) + ((14-5)^2)

print(eudistance)

my_function()

12.0